/**
 * index.scss
 * - Add any styles you want here!
 */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
}

p {
  font-size: 1.2sem;
}

html {
  padding: 0;
  margin: 0;
  height: 0;
}

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

a:hover {
  text-decoration: none !important;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

#menu {
  display: none;
}

.reveal {
  margin-top: 2em;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  background: #ef6461;
  height: 3em;
  position: relative;
  width: 10em;
  overflow: hidden;
}

.reveal p {
  color: white;
}

.reveal:hover .send {
  transition: .25s;
  transform: translateY(-110px);
}

.send {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -0px;
  font-weight: 500;
  font-size: 1.3em;
  background: #ef6461;
  width: 5em;
  height: 110px;
  padding-top: .3em;
  text-align: center;
}

.send a {
  color: white;
  display: block;
  margin-bottom: 30px;
}

.send .plane {
  display: block;
}

.send .plane i {
  color: white;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  background-size: cover;
}

.heading .mobile-menu,
.heading .mobile-menu_exit {
  display: none;
}

.heading .mobile-menu i,
.heading .mobile-menu_exit i {
  color: white;
  font-size: 2.5em;
}

.heading-logo {
  color: white;
  font-size: 10em;
  font-weight: 900;
  font-style: italic;
}

.heading-subtext {
  color: #ef6461;
}

.heading-menu {
  display: flex;
  justify-content: center;
}

.heading-menu li {
  margin: 1em;
}

.heading-menu li a {
  font-size: 2em;
  transition: .5s;
  color: white;
}

.heading-menu li a:hover {
  color: #ef6461;
}

.about_me {
  margin-top: 5em;
  padding: 2em;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #000000;
  color: #1B1B1B;
  text-align: center;
}

.about_me h1 {
  font-weight: 900;
}

.about_me .skills {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: #ef6461;
  text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.about_me .skills li {
  font-size: 2.5em;
  margin: 1em;
}

.half {
  border: 1px solid #000000;
  border-radius: 5px;
  float: left;
  width: 49%;
}

.half-1 {
  margin-right: 1%;
  border: none;
}

.half-2 {
  margin-left: 1%;
}

.wrapper-2 {
  padding: 2em;
  position: relative;
  overflow: hidden;
}

.wrapper-2:hover .data {
  transition: .2s;
  transform: translateY(-200px);
}

.projects {
  margin: 3em 0em;
}

.projects-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-title h1 {
  font-size: 4em;
  font-weight: 900;
}

.projects-title_small {
  display: none;
}

.projects-card {
  background: #313638;
  background-image: url("https://ucarecdn.com/0272b1b6-cf51-4bfe-a1a8-c8098cbe8831/pattern.png");
  color: white;
  background-size: cover;
  transition: .5s;
  height: 400px;
}

.projects-card a {
  color: white;
}

.projects-card .header {
  position: absolute;
  top: 0;
  margin-top: 20px;
}

.projects-card .data {
  position: relative;
  top: 250px;
  height: 330px;
}

.projects-card .data .author {
  font-size: 1em;
}

.projects-card .data .title {
  margin-top: 10px;
  font-size: 4em;
  margin-bottom: 15px;
}

.projects-card .data .tags {
  display: flex;
}

.projects-card .data .tags li {
  margin-right: 1em;
  font-size: 1.5em;
  border-radius: 20px;
}

.projects-card .data .tags li:hover {
  color: #ef6461;
}

.projects-card .data .text {
  height: 70px;
  margin: 0;
}

.projects-card .data .button {
  text-align: center;
  display: block;
}

.projects-card .data span {
  position: relative;
}

.projects-card:hover {
  box-shadow: 0px 0px 20px #000000;
}

.contact {
  margin-top: 15px;
  flex-direction: column;
}

.contact-title {
  border-bottom: 1px solid #e8e9eb;
  padding-bottom: 1em;
}

.contact .half {
  border: none;
}

.contact label {
  text-transform: uppercase;
  font-weight: 200;
  display: inline-block;
  width: 10%;
  margin: 1.5em 0em;
}

.contact input {
  border: none;
  border-bottom: 2px solid #e8e9eb;
  width: 100%;
}

.contact input:focus {
  transition: .2s;
  outline: none;
  border-bottom: 3px solid #000000;
}

.contact textarea {
  width: 100%;
  height: 130px;
  outline: none;
}

.contact textarea:focus {
  transition: .2s;
  outline: none;
  border: 1px solid #000000;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.contact .reveal {
  margin-top: 2em;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  background: #ef6461;
  height: 3em;
  position: relative;
  width: 10em;
  overflow: hidden;
}

.contact .reveal p {
  color: white;
}

.contact .reveal:hover .send {
  transition: .25s;
  transform: translateY(-110px);
}

.contact .send {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  font-weight: 500;
  font-size: 1.3em;
  background: #ef6461;
  width: 5em;
  height: 110px;
  padding-top: .3em;
  text-align: center;
}

.contact .send a {
  color: white;
  display: block;
  margin-bottom: 30px;
}

.contact .send .plane {
  display: block;
}

.contact .send .plane i {
  color: white;
}

.contact:hover .contact-title {
  transition: .5s;
  border-bottom: 2px solid #ef6461;
}

#footer {
  margin-top: 4em;
  padding: 2em;
  min-height: 165px;
  text-align: center;
  background: #000000;
  color: white;
}

#footer ul {
  display: flex;
}

#footer ul li {
  font-size: 1.2em;
  margin: 1.2em;
}

#footer ul li:hover {
  transition: .5s;
  color: #ef6461;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 0% 5%;
  }
  .about_me {
    margin-top: 0;
    border: none;
  }
  .about_me .skills {
    flex-wrap: wrap;
  }
  .about_me .skills li {
    font-size: 2.5em;
    margin: .5em;
  }
  .wrapper-2 .data {
    transform: translateY(-200px);
  }
}

@media screen and (max-width: 700px) {
  .half {
    float: none;
    width: 100%;
    padding: 0 1em;
    border-radius: 0;
  }
  .half-1 {
    margin-right: 0;
  }
  .half-2 {
    margin-left: 0;
  }
  .heading-menu {
    display: none;
    position: relative;
    top: -4.5em;
  }
  .heading .mobile-menu {
    cursor: pointer;
    margin-right: 0;
    position: relative;
    transition: .5s;
    display: inline-block;
  }
  .heading .mobile-menu_exit {
    position: relative;
    top: -3.2em;
    margin-right: 0;
    display: inline-block;
    transition: .5s;
    transform: translateX(999px);
  }
  .heading #menu:checked~.mobile-menu {
    transform: translateX(-999px);
  }
  .heading #menu:checked~.mobile-menu_exit {
    transform: translateX(0px);
  }
  .heading #menu:checked~.heading-menu {
    display: flex;
    text-align: center;
  }
  .heading .close {
    transform: translateX(350px);
  }
  .heading-logo {
    font-size: 8em;
  }
  .heading-menu {
    flex-direction: column;
    justify-content: center;
  }
  .heading-menu li {
    margin: 1em;
  }
  .heading-menu li a {
    font-size: 2em;
    transition: .5s;
    color: white;
  }
  .heading-menu li a:hover {
    color: #ef6461;
  }
  .about_me {
    margin-top: 0;
    border: none;
  }
  .about_me .skills {
    flex-wrap: wrap;
  }
  .about_me .skills li {
    font-size: 2.5em;
    margin: .5em;
  }
  .projects {
    display: flex;
    flex-direction: column-reverse;
  }
  .projects-title {
    justify-content: flex-start;
    height: 100%;
  }
  .projects-title_small {
    display: block;
    text-align: center;
    padding-bottom: .5em;
    margin-bottom: 1em;
    border-bottom: 1px solid #e8e9eb;
    margin-right: .8em;
    margin-left: .8em;
  }
  .projects-title_large {
    display: none;
  }
  .wrapper-2 .data {
    transform: translateY(-200px);
  }
  .contact-title {
    text-align: center;
  }
  .contact .submit {
    text-align: center;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer .heading-menu {
    position: static;
    flex-direction: row;
  }
}
